<table class="table-striped">
  <thead>
  <tr>
    <th>Coin</th>
    <th>Credited</th>
    <th>Auto Exchange</th>
    <th>On Exchange</th>
  </tr>
  </thead>
  <tbody>
    <% for (let balance of balances) { %>
      <tr>
        <td><%= balance.coin.code %></td>
        <td><%= balance.confirmed %>
          <% if (balance.unconfirmed !== 0) { %>
            <br>(<%= balance.unconfirmed %>)
          <% } %>
        </td>
        <td><%= balance.ae_confirmed %>
          <% if (balance.ae_unconfirmed !== 0) { %>
          <br>(<%= balance.ae_unconfirmed %>)
          <% } %></td>
        <td><%= balance.exchange %></td>
      </tr>
    <% } %>
  </tbody>
</table>