<div>
  <div id="setup-header" class="text-center">
    <img src="./assets/pickaxe.svg" width="80" height="80">
    <p>MPH Dock <a href="https://github.com/ipaulpro/MPHDock">v<%= version %></a> by <a href="http://paulburke.co">Paul Burke</a></p>
  </div>

  <form id="setup-form">
    <div class="form-group">
      <label>API Key</label>
      <input class="form-control" placeholder="Enter your Mining Pool Hub API Key" name="apiKey" value="<%= apiKey ? apiKey : '' %>">
    </div>
    <div class="form-group padded-top">
      <label>Auto Exchange</label>
      <label>
        <select class="form-control" name="autoExchange">
          <% for (let coin of coins) { %>
          <option <%= coin.code === autoExchange ? 'selected' : '' %> ><%= coin.code %></option>
          <% } %>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>Refresh interval</label>
      <label>
        <select class="form-control" name="refreshInterval">
          <% let intervals = [1,2,5,10,30,60]; %>
          <% for (let interval of intervals) { %>
            <option <%= refreshInterval === interval ? 'selected' : '' %> value="<%= interval %>"><%= interval %> min</option>
          <% } %>
        </select>
      </label>
    </div>
    <div class="form-actions pull-right padded-top">
      <button id="setup-cancel" type="submit" class="btn btn-form btn-negative js-setup-cancel-action">CANCEL</button>
      <button type="submit" class="btn btn-form btn-primary">OK</button>
    </div>
  </form>
</div>